
<h1>Welcome to example.com </h1>
<p> hi there </p>
<p>
  Hey <%= @order.email %> !!!!
  You bought the following :
  Your total amount is $<%= @order.total_cents/100 %> 

</p>
<p>Thanks for joining and have a great day!</p>
